# MATRIX:

Matrix is a rectangular arrangement of numbers in rows and columns. In a matrix, as we know rows are the ones that run horizontally and columns are the ones that run vertically. In R programming, matrices are two-dimensional, homogeneous data structures.

In [ ]:

# R program to create a matrix
  
m=matrix(1:6,nrow = 2,ncol = 3)

  # Taking sequence of elements 
    m[1,3]

   
  # No of rows
  nrow(m)

   
  # No of columns
         
   ncol(m)

     [,1] [,2] [,3] [,4]
[1,] 1    4    7    10
[2,] 2    5    8    11
[3,] 3    6    9    12

In [ ]:
  # By default matrices are in column-wise order
  # So this parameter decides how to arrange the matrix
       
m1=matrix(1:6, nrow = 2, byrow = TRUE)
m1

     [,1] [,2] [,3] [,4]
[1,] 1     2    3    4
[2,] 5     6    7    8
[3,] 9    10   11   12

In [ ]:
# if the dimension is less than total elements then first nxm elements

m2=matrix(1:12, nrow = 3, ncol = 3)

Warning message in matrix(1:12, nrow = 3, ncol = 3):
“data length differs from size of matrix: [12 != 3 x 3]”

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [ ]:
#  Recycling of the matrix

m2=matrix(1:12, nrow = 4, ncol = 5)
m2

Warning message in matrix(1:12, nrow = 4, ncol = 5):
“data length [12] is not a sub-multiple or multiple of the number of columns [5]”

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    5     9   1    5
[2,] 2    6    10   2    6
[3,] 3    7    11   3    7
[4,] 4    8    12   4    8

#Length-returns total no of rows and colums(m*n)

In [ ]:
set.seed(101)
mat = matrix( data = as.integer(runif(30, 10, 17)), 
              nrow = 5, ncol = 3)

mat

# find the length of the matrix




length(mat)

Warning message in matrix(data = as.integer(runif(30, 10, 17)), nrow = 5, ncol = 3):
“data length differs from size of matrix: [30 != 5 x 3]”

     [,1] [,2] [,3]
[1,] 12   12   16
[2,] 10   14   14
[3,] 14   12   15
[4,] 14   14   16
[5,] 11   13   13

[1] 15

#Accessing elements of a Matrix
We can access elements in the matrices using the same convention that is followed in data frames. So, you will have a matrix and followed by a square bracket with a comma in between array. Value before the comma is used to access rows and value that is after the comma is used to access columns. Let’s illustrate this by taking a simple R code.

###  accessing the rows:

In [ ]:
set.seed(101)
mat = matrix( data = as.integer(runif(15, 10, 17)), 
              nrow = 5, ncol = 3)
# access rows in metrics, read 2nd row
mat[2,]


# access the first 2 rows
mat[1:2,]


#access the last 3 rows
mat[(nrow(mat)-2):nrow(mat),]


# acess the 1st and 3rd colum

mat[,c(1,3)]

[1] 10 14 14

     [,1] [,2] [,3]
[1,] 12   12   16
[2,] 10   14   14

     [,1] [,2] [,3]
[1,] 14   12   15
[2,] 14   14   16
[3,] 11   13   13

     [,1] [,2] [,3]
[1,] 12   12   16
[2,] 14   12   15

### Accessing columns:

In [ ]:
# access columns in metrics,read 2nd column

mat[,2]

[1] 12 14 12 14 13

In [ ]:
# access the last colum
mat[,ncol(mat)]

[1] 16 14 15 16 13

In [ ]:
# access 1st and 3rd column
mat[,c(1,3)]

     [,1] [,2]
[1,] 12   16
[2,] 10   14
[3,] 14   15
[4,] 14   16
[5,] 11   13

In [ ]:
# access 1st and 3rd column for even no of rows
mat[seq(2,nrow(mat),by=2),c(1,3)]

     [,1] [,2]
[1,] 10   14
[2,] 14   16

### Accessing elements of a matrix:

In [ ]:
set.seed(101)
mat = matrix( data = as.integer(runif(30, 10, 17)), 
              nrow = 5, ncol = 3)

mat

Warning message in matrix(data = as.integer(runif(30, 10, 17)), nrow = 5, ncol = 3):
“data length differs from size of matrix: [30 != 5 x 3]”

     [,1] [,2] [,3]
[1,] 12   12   16
[2,] 10   14   14
[3,] 14   12   15
[4,] 14   14   16
[5,] 11   13   13

In [ ]:
# access 10
mat[2,1]


# access 11
mat[5,1]

[1] 10

[1] 11

# INSERT/Update:
 insertion is possible if that position doesnot exist

updation is possible if that position exists

In [ ]:
set.seed(101)
mat = matrix( data = as.integer(runif(30, 10, 17)), 
              nrow = 5, ncol = 3)

mat

# inserting 999 instead of 14


mat[which(mat==14)]=999
mat

Warning message in matrix(data = as.integer(runif(30, 10, 17)), nrow = 5, ncol = 3):
“data length differs from size of matrix: [30 != 5 x 3]”

     [,1] [,2] [,3]
[1,] 12   12   16
[2,] 10   14   14
[3,] 14   12   15
[4,] 14   14   16
[5,] 11   13   13

     [,1] [,2] [,3]
[1,] 12    12  16
[2,] 10   999  14
[3,] 14    12  15
[4,] 14    14  16
[5,] 11    13  13

In [ ]:
# insert 9.99 in place of 13

mat[which(mat==13)]=9.99
mat

     [,1] [,2]   [,3]
[1,] 12    12.00 16
[2,] 10   999.00 14
[3,] 14    12.00 15
[4,] 14    14.00 16
[5,] 11     9.99 13

#Deleting rows and columns of a Matrix


To delete a row or a column, first of all, you need to access that row or column and then insert a negative sign before that row or column. It indicates that you had to delete that row or column.

In [ ]:
#2nd-row deletion


set.seed(101)
mat = matrix( data = as.integer(runif(30, 10, 17)), 
              nrow = 5, ncol = 3)
mat
mat[-2,]

     [,1] [,2]  [,3]
[1,] 12   12.00 16
[2,] 14   12.00 15
[3,] 14   14.00 16
[4,] 11    9.99 13

In [ ]:
#2nd column deletion


mat[,-2]

     [,1] [,2]
[1,] 12   16
[2,] 10   14
[3,] 14   15
[4,] 14   16
[5,] 11   13

# NAMING MATRIX:

In [ ]:
# dimnames
set.seed(101)
mat = matrix( data = as.integer(runif(30, 10, 17)), 
              nrow = 5, ncol = 3)
mat

dimnames(mat)=list(c("1","2","3","4","5"),c("c1","c2","c3"))
mat

Warning message in matrix(data = as.integer(runif(30, 10, 17)), nrow = 5, ncol = 3, :
“data length differs from size of matrix: [30 != 5 x 3]”

  P1 P2 P3
1 12 12 16
2 10 14 14
3 14 12 15
4 14 14 16
5 11 13 13

In [ ]:
# colnames
                    # column name of matA

colnames(mat)=c("col1","col12","col3")
mat

[1] "P1" "P2" "P3"

In [ ]:
#rownames
                   # row names of matA
rownames(mat)=c("r1","r2","r3","r4","r5")
mat

[1] "1" "2" "3" "4" "5"

In [ ]:
#read entire dataset except rows 1 and 5
df=Orange
nrow(df)
df1=df[-c(1,5),]
df1

  P1 P2 P3
2 10 14 14
3 14 12 15
4 14 14 16