# Creating a Factor:

In [ ]:
# Creating a vector
x<-c("Delhi","Mumbai","Chennai","Kolkata")
print(x)
 
# Converting the vector x into a factor
# named gender

factor(x)

[1] "Delhi"   "Mumbai"  "Chennai" "Kolkata"
[1] Delhi   Mumbai  Chennai Kolkata
Levels: Chennai Delhi Kolkata Mumbai

# Checking for a Factor in R
The function is.factor() is used to check whether the variable is a factor and returns “TRUE” if it is a factor

In [ ]:
Metropolitian_city<- factor(c("Delhi","Mumbai","Chennai","Kolkata"))


# check if it is factor 
is.factor(Metropolitian_city)

[1] TRUE

Function class() is also used to check whether the variable is a factor and if true returns “factor”.

In [ ]:
Metropolitian_city <- factor(c("Delhi","Mumbai","Chennai","Kolkata"))

# Check using class method if it is a vector

class(Metropolitian_city)

[1] "factor"

#Accessing elements of a Factor in R
Like we access elements of a vector, the same way we access the elements of a factor. If Metropolitian_city  is a factor then Metropolitian_city [i] would mean accessing ith element in the factor.

In [ ]:
Metropolitian_city<- factor(c("Delhi","Mumbai","Chennai","Kolkata"))

# access chennai

Metropolitian_city[3]

[1] Chennai
Levels: Chennai Delhi Kolkata Mumbai

More than one element can be accessed at a time.

In [ ]:
Metropolitian_city<- factor(c("Delhi","Mumbai","Chennai","Kolkata"))

# access mumbai and kolkata

Metropolitian_city[c(2,4)]

[1] Mumbai  Kolkata
Levels: Chennai Delhi Kolkata Mumbai

In [ ]:
# print length of vector
length(Metropolitian_city)

[1] 4